extends layout

block content
	.container-fluid
		.row
			.col-sm-12.text-center
				h1 Login
				h4 Please enter your username and password below.
		.row
			.col-sm-6.login-wrapper.text-center
				form(role="form", action="/login", method="post", id="login-form", name="login")
					.form-group
						label Username:
						input.form-control(type="text", name="username", placeholder="Username", minlength="5")
					.form-group
						label Password:
						input.form-control(type="password", name="password", placeholder="6 Character Minimum", minlength="6")
					.button-holder
						button.btn.btn-success(type="submit") Register








