/* line 1, ../_tools/compass/sass/_base.scss */
html, body {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
}

/* line 7, ../_tools/compass/sass/_base.scss */
img {
  width: 80px;
}

/* line 10, ../_tools/compass/sass/_base.scss */
a {
  color: rgba(0, 51, 0, 0.6);
}

/* line 13, ../_tools/compass/sass/_base.scss */
a:hover {
  color: rgba(0, 51, 0, 0.8);
}

/* line 1, ../_tools/compass/sass/_nav.scss */
.navbar-login {
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

/* line 8, ../_tools/compass/sass/_nav.scss */
.navbar-login-session {
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

/* line 15, ../_tools/compass/sass/_nav.scss */
.icon-size {
  font-size: 87px;
}

/* line 20, ../_tools/compass/sass/_nav.scss */
.navbar-nav > li > a {
  font-size: 18px;
}
/* line 22, ../_tools/compass/sass/_nav.scss */
.navbar-nav > li > a span {
  font-size: 24px;
  padding-right: 10px;
}

/* line 27, ../_tools/compass/sass/_nav.scss */
.navbar-nav {
  padding: 10px;
}

/* line 2, ../_tools/compass/sass/_home.scss */
.main-content {
  position: absolute;
  top: 80px;
  bottom: 0;
  left: 0;
  right: -17px;
  font-family: Dosis, 'Indie Flower', Oswald, verdana, arial;
  overflow-y: auto;
}

/* line 12, ../_tools/compass/sass/_home.scss */
.content1 {
  background-color: #f5f5dc;
  background-image: url("../images/coffee.jpg");
  background-position: 45% bottom;
  background-repeat: no-repeat;
  height: 86vh;
}

/* line 19, ../_tools/compass/sass/_home.scss */
.content2 {
  height: 80px;
  text-align: center;
  line-height: 80px;
  font-family: fantasy;
  font-size: 25px;
}

/* line 26, ../_tools/compass/sass/_home.scss */
.content3 {
  position: relative;
  background-image: url("../images/CoffeeBags.jpg");
  background-repeat: no-repeat;
  height: 80vh;
}

/* line 35, ../_tools/compass/sass/_home.scss */
.content5 {
  background-image: url("../images/cupSteam.jpg");
  background-repeat: no-repeat;
  background-color: black;
}

/* line 40, ../_tools/compass/sass/_home.scss */
.gradient1 {
  background-color: #2F2727;
  background-image: url(images/radial_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  /* Safari 4-5, Chrome 1-9 */
  /* Can't specify a percentage size? Laaaaaame. */
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(lightgray));
  background: -webkit-radial-gradient(circle, transparent, lightgray);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, transparent, lightgray);
  /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, transparent, lightgray);
  /* IE 10 */
}

/* line 1, ../_tools/compass/sass/_extras.scss */
.wrap {
  position: relative;
  overflow: hidden;
  height: 360px;
}

/* line 7, ../_tools/compass/sass/_extras.scss */
.wrap img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 12, ../_tools/compass/sass/_extras.scss */
.wrap:before, .wrap:after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 40px;
  background-color: inherit;
  padding-bottom: 3%;
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(lightgray));
  background: -webkit-radial-gradient(circle, transparent, lightgray);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, transparent, lightgray);
  /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, transparent, lightgray);
  /* IE 10 */
}

/* line 25, ../_tools/compass/sass/_extras.scss */
.wrap:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}

/* line 34, ../_tools/compass/sass/_extras.scss */
.wrap:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 44, ../_tools/compass/sass/_extras.scss */
.arrow {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-bottom: 3%;
  background-color: rgba(211, 211, 211, 0.5);
}

/* line 60, ../_tools/compass/sass/_extras.scss */
.arrow:before, .arrow:after {
  content: '';
  position: absolute;
  bottom: 100%;
  width: 50%;
  padding-bottom: inherit;
  background-color: inherit;
}

/* line 68, ../_tools/compass/sass/_extras.scss */
.arrow:before {
  right: 50%;
  -ms-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
}

/* line 77, ../_tools/compass/sass/_extras.scss */
.arrow:after {
  left: 50%;
  -ms-transform-origin: 0 100%;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
}

/* line 87, ../_tools/compass/sass/_extras.scss */
#triangle-down {
  position: absolute;
  left: 45%;
  width: 0;
  height: 0;
  border-left: 46px solid transparent;
  border-right: 46px solid transparent;
  border-top: 32px solid transparent;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  z-index: 22;
}

/* line 98, ../_tools/compass/sass/_extras.scss */
#triangle-topright {
  position: absolute;
  width: 0;
  height: 0;
  right: 0;
  border-left: 32px solid transparent;
}

/* line 105, ../_tools/compass/sass/_extras.scss */
#triangle-topleft {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  border-top: 42px solid lightgray;
  border-left: 32px solid transparent;
}

/* line 114, ../_tools/compass/sass/_extras.scss */
#parallelogram-right {
  position: absolute;
  right: 10%;
  width: 5%;
  height: 100%;
  -webkit-transform: skew(-25deg);
  -moz-transform: skew(-25deg);
  -o-transform: skew(-25deg);
  background: -webkit-linear-gradient(-90deg, transparent, lightgray, transparent);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, transparent, lightgray, transparent);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, transparent, lightgray, transparent);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, transparent, lightgray, transparent);
  /* Standard syntax */
  z-index: 2;
}

/* line 135, ../_tools/compass/sass/_extras.scss */
#parallelogram-left {
  position: absolute;
  left: 10%;
  width: 1.5%;
  height: 100%;
  -webkit-transform: skew(25deg);
  -moz-transform: skew(25deg);
  -o-transform: skew(25deg);
  background: -webkit-gradient(radial, center center, 0, center center, 460, from(transparent), to(lightgray));
  background: -webkit-radial-gradient(circle, transparent, lightgray);
  /* Safari 5.1+, Chrome 10+ */
  background: -moz-radial-gradient(circle, transparent, lightgray);
  /* Firefox 3.6+ */
  background: -ms-radial-gradient(circle, transparent, lightgray);
  /* IE 10 */
  z-index: 2;
}

/* line 149, ../_tools/compass/sass/_extras.scss */
#step-one {
  position: absolute;
  left: 2%;
}

/* line 1, ../_tools/compass/sass/_footer.scss */
.footer {
  position: absolute;
  bottom: 0;
  height: 26px;
  padding: 5px;
}
