<div class="container-fluid main-content gradient1">
  <div class="row content1 main-verbiage">
    <div class="col-sm-12">
      <h1>A better way to grind</h1>
      <h3>Freshly roasted coffee beans delivered weekly to your door.</h3>
    </div>
  </div>
  <div class="row content2 verbiage1">
    <div class="col-sm-12">
      <p>How It Works</p>
    </div>
  </div>
  <div class="row content3 verbiage2 wrap">
    <div id="step-one" class="col-sm-12 step">
      <h1 class="title">1. We get the coffee</h1>
      <p>Each bean is hand selected</p>
      <p>Each bean is measured for precise size</p>
      <p>Each bean is tenderly caressed</p>
    </div>
  </div>
  <div class="row content4 verbiage1 wrap">
    <div id="step-two" class="col-sm-12 step">
      <h1>We pick-up the coffee</h1>
      <p>We place the coffee in bags</p>
      <p>Each bag is transported in climate-controlled trucks</p>
      <p>Every six hours the bags are rotated to keep the beans uniform and delicious</p>
    </div>
  </div>
  <div class="row content5 verbiage2 wrap">
    <div id="step-three" class="col-sm-12 step">
      <h1>3. You drink the coffee</h1>
      <p>the coffe taste delicious</p>
      <p>you want more coffee!!</p>
    </div>
  </div>
  <div class="row">
    <div id="get-started" class="col-sm-12"><a href="/#/register">
        <button type="button" class="btn btn-primary">Get Started</button></a></div>
  </div>
</div>
