<div ng-controller="mainController">
  <div id="one" class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h2>A better way to grind</h2>
          <p>Freshly roasted coffee beans delivered</p>
          <p>weekly to your door.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-small">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <h3>How It Works</h3>
        </div>
      </div>
    </div>
  </div>
  <div id="two" class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>1. We get the coffee</h3>
          <p>Each bean is hand selected</p>
          <p>Each bean is measured for precise size</p>
          <p>Each bean is tenderly caressed</p>
        </div>
      </div>
    </div>
  </div>
  <div id="three" class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-right">
          <h3>2. We pick up the coffee</h3>
          <p>We place the coffee in silk bags</p>
          <p>Each bag is transported in climate-controlled trucks</p>
          <p>Every six hours the bags are rotated for uniformity</p>
        </div>
      </div>
    </div>
  </div>
  <div id="four" class="section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <h3>3. You drink the coffee</h3>
          <p>The coffee hits your lips</p>
          <p>You swallow the coffee</p>
          <p>You want to buy more of the coffee</p>
        </div>
      </div>
    </div>
  </div>
  <div class="section-med">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 text-center">
          <button class="btn btn-success btn-lg add-margin">Get Started</button>
          <p>Want to know more about us?</p>
          <button class="btn btn-default btn-lg">Our Story</button>
        </div>
      </div>
    </div>
  </div>
</div>