<div class="content" ng-controller="optionsCtrl">
	
	<div class="grey-header">
		<div class="row">
			<div class="col-sm-2 col-sm-offset-2">
				<i class="fa fa-home" aria-hidden="true"></i> Home
			</div>
			<div class="col-sm-2 active">
				<i class="fa fa-check-square-o" aria-hidden="true"></i> Options
			</div>
			<div class="col-sm-2">
				<i class="fa fa-truck" aria-hidden="true"></i> Delivery
			</div>
			<div class="col-sm-2">
				<i class="fa fa-shopping-cart" aria-hidden="true"></i> Checkout
			</div>
		</div>
	</div>

	<div class="container">
		<form id="options-form" ng-submit="optionsForm(1)">
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Tell us what you want</h1>
					<h5>Shipping is free, and you can skip any week</h5>
				</div>
			</div>
			
			<div class="row">
				<h5 class="error-message text-center">{{errorMessage}}</h5>
			</div>

			<div class="row">
				<div class="col-sm-6 text-center light-panel">
					<div class="container-fluid">
						<h1>Individual Plan</h1>
						<p>For those who drink alone</p><img src="images/drinker.jpg" class="img-responsive">
						<div class="col-sm-6 text-right">
							<h4>Cups per week:  </h4>
							<h4>Price per cup:  </h4>
							<h4>Weekly total:  </h4>
							<h4>Grind type:  </h4>
						</div>
						<div class="col-sm-6 text-left">
							<h4>  14</h4>
							<h4>  $0.50</h4>
							<h4>  $7.00</h4>
							<select ng-model="grindType" ng-options="grind.option for grind in grinds">
	    						<option value=""></option>
							</select>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-success btn-lg">Submit</button>
							<p class="add-margin">Shipping is always free.</p>
							<p>Skip any week. Cancel any time.</p>
						</div>
					</div>
				</div>
      </form>
    <form id="options-form" ng-submit="optionsForm(2)">
    		<div class="col-sm-6 text-center light-panel">
					<div class="container-fluid">
						<h1>Family Plan</h1>
						<p>For those who drink together</p><img src="images/drinkers.jpg" class="img-responsive">
						<div class="col-sm-6 text-right">
							<h4>Cups per week:  </h4>
							<h4>Price per cup:  </h4>
							<h4>Weekly total:  </h4>
							<h4>Grind type:  </h4>
						</div>
						<div class="col-sm-6 text-left">
							<h4>  40</h4>
							<h4>  $0.45</h4>
							<h4>  $18.00</h4>
							<select ng-model="grindType" ng-options="grind.option for grind in grinds">
	    						<option value=""></option>
							</select>
						</div>
						<div class="col-sm-12 text-center">
							<button type="submit" class="btn btn-success btn-lg">Submit</button>
							<p class="add-margin">Shipping is always free.</p>
							<p>Skip any week. Cancel any time.</p>
						</div>
					</div>
				</div>
			</div>
    </form>
    <form id="options-form" ng-submit="optionsForm(3)">    
			<div class="row">
				<div class="col-sm-12 text-center">
					<h1>Prefer to customize your order?</h1>
					<h4>No problem. Just make your selections below.</h4>
				</div>
			</div>
			<div class="row add-border">
				<div class="col-sm-6">
					<div class="img-wrapper">
						<img src="images/calendar.png">
					</div>
				</div>
				<div class="col-sm-6">
					<h1>1. FREQUENCY</h1>
					<p>How often would you like to send you your coffee?</p>
					<select ng-model="frequency" ng-options="freq.option for freq in frequencies">
	    				<option value=""></option>
					</select>
					<p>You can cancel or skip any time.</p>
				</div>
			</div>

			<div class="row add-border">
				<div class="col-sm-6">
					<div class="img-wrapper">
						<img src="images/scale.png">
					</div>
				</div>
				<div class="col-sm-6">
					<h1>2. QUANTITY</h1>
					<p>How many pounds (in increments of .25lb) would you like each delivery?</p>
					<p>$20.00/lb</p>
					<input type="text" class="form-control" ng-model="quantity" maxlength="10">
					<p>You can cancel or skip any time.</p>
				</div>
			</div>

			<div class="row add-border">
				<div class="col-sm-6">
					<div class="img-wrapper">
						<img src="images/beans.png">
					</div>
				</div>
				<div class="col-sm-6">
					<h1>3. GRIND TYPE</h1>
					<p>How do you like your grinds?</p>
					<select ng-model="grindType" ng-options="grind.option for grind in grinds">
	    				<option value=""></option>
					</select>
					<p>You can cancel or skip any time.</p>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="button-holder">
						<button type="submit" class="btn btn-success btn-lg">Submit</button>
					</div>
				</div>
			</div>
		</form>
	</div> <!-- container ends here -->
</div>